@model X.PagedList.IPagedList<BusinessObject.DTO.PublisherDTO>
@using X.PagedList.Mvc.Core
<style>
    .ul.pagination {
        display: inline-block;
        padding: 0;
        margin: 0;
    }

    ul.pagination li {
        display: inline;
    }

        ul.pagination li a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
        }

        ul.pagination li span {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
        }

        ul.pagination li a.active {
            background-color: #4CAF50;
            color: white;
        }

        ul.pagination li a:hover:not(.active) {
            background-color: #ddd;
        }
</style>
<div id="content">
@*    <div id="content-left">
        <h3>Dashboard</h3>
        <ul>
            <a asp-controller="authors" asp-action="index">
            <li>All authors</li></a>
            <a asp-controller="books" asp-action="index">
            <li>All books</li></a>
            <a asp-controller="publishers" asp-action="index">
            <li>All publisher</li></a>
            <a asp-controller="users" asp-action="index">
            <li>All users</li></a>
        </ul>
    </div>*@
    <div id="content-right">
        <div class="path-admin">PUBLISHERS LIST</b></div>
        <div class="content-main">
            <div id="content-main-dashboard">
                <div id="order-title">
                    <div id="product-title-3" style="width: 20%;">
                        <a class="btn btn-info" asp-controller="publishers" asp-action="create">Create a new Publishers</a>
                    </div>
                </div>
                <div id="order-table">
                                      <table class="table table-bordered">

    <thead>
                        <tr>
                            <th>PubID</th>
                            <th>PublisherName</th>
                            <th>City</th>
                            <th>State</th>
                            <th>Country</th>
                            <th></th>
                        </tr>
                         </thead>
                            <tbody>
                        @foreach (var item in Model)
                        {
                                   <tr>
                                           <td>@item.PubId</td>
                                           <td>@item.PublisherName</td>
                                           <td>@item.City</td>
                                           <td>@item.State</td>
                                               <td>@item.Country</td>

                               <td>

                                               <a class="btn btn-info" asp-action="edit" asp-route-id="@item.PubId">Update</a>
                                                   <a class="btn btn-info" asp-action="delete"  asp-route-id="@item.PubId" onclick="return confirm('Are you sure you want to delete this item?');">Delete</a>
                               </td>
                           </tr>
                        }
                           </tbody>
                    </table>
                </div>
                <div>
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                    <div class="pagination" style="margin-left: 400px">
                        @Html.PagedListPager( Model, page => Url.Action("Index", new { page }) )
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>